<form action="/success" method="post">

  <label for="title-input">Book Title: </label>
  <input type="text" name="title-input" value="">

  <label for="author-input">Author Name: </label>
  <input type="text" name="author-input" value="">

  <button type="submit" name="button">Add Book and Author</button>

</form>
