@if (Model["booksByTitle"].Count == 0)
{
  <h3> </h3>
}
else
{
  @foreach(var book in Model["booksByTitle"])
  {
    <h3>@book.GetTitle()</h3>
  }
}

@if (Model["booksByAuthor"].Count == 0)
{
  <h3> </h3>
}
else
{
  @foreach(var book in Model["booksByAuthor"])
  {
    <h3>@book.GetTitle()</h3>
  }
}
